﻿@{
    ViewBag.Title = "The Hub";
}
<div class="jumbotron">
    <h1>The Hub</h1>
    <p class="lead">The Hub is a central location where superheroes around the world may communicate with each other, discuss recent activities and set team-ups and more!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started!</h2>
        <p>
            Login or Register using your superhero credentials and enter the The Hub for Superheroes.
        </p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5jdT8GOpr-DTDP87qRujTmsE4CI8vbECxTxyOqifzO4Db0NcMyg" style="width:400px; height:220px; padding-right: 30px; padding-top:20px;" />
    </div>
    <div class="col-md-4">
        <h2>Team-Ups?!</h2>
        <p>Are you a small time hero and want to meet and team up with the big leagues like Deadpool, Batman or Captain America? Join Now!</p>
        <img src="http://i.newsarama.com/images/i/000/146/084/original/ESTRELLAS-DC-COMICS-Batman-Superman_CLAIMA20130721_0142_14.jpg" style="width:400px;height:200px; padding-right: 30px;" />
    </div>
    <div class="col-md-4">
        <h2>Scoring!</h2>
        <p> Have a superhero buddy or rival you always compete with? Keep a score of all the bad guys you put away! ULTIMATE BRAGGING RIGHTS!! </p>
        <img src="http://i.ytimg.com/vi/_MyPhGJFgMw/maxresdefault.jpg" style="width:400px; height: 200px; padding-right: 30px;">
    </div>
</div>