<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://superhub.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>superhub.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SuperHub</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SuperHub</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TheHub.Models.DemographicsDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User ID=leungt@stockton15;Password=T0mL3ung1!" Name="Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User Id=leungt@stockton15;Password=T0mL3ung1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TheHub.Models.DemographicsDbContext, TheHub" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TheHub.Models.FriendDbContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User ID=leungt@stockton15;Password=T0mL3ung1!" Name="Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User Id=leungt@stockton15;Password=T0mL3ung1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TheHub.Models.FriendDbContext, TheHub" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User ID=leungt@stockton15;Password=T0mL3ung1!" Name="Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User Id=leungt@stockton15;Password=T0mL3ung1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TheHub.Models.ApplicationDbContext, TheHub" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TheHub.Models.InterestDbContext" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User ID=leungt@stockton15;Password=T0mL3ung1!" Name="Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User Id=leungt@stockton15;Password=T0mL3ung1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TheHub.Models.InterestDbContext, TheHub" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TheHub.Models.MemberDbContext" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User ID=leungt@stockton15;Password=T0mL3ung1!" Name="Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User Id=leungt@stockton15;Password=T0mL3ung1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TheHub.Models.MemberDbContext, TheHub" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TheHub.Models.MessageDbContext" Order="6" Enabled="False">
          <Destination Path="Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User ID=leungt@stockton15;Password=T0mL3ung1!" Name="Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User Id=leungt@stockton15;Password=T0mL3ung1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TheHub.Models.MessageDbContext, TheHub" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TheHub.Models.PhotosDbContext" Order="7" Enabled="False">
          <Destination Path="Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User ID=leungt@stockton15;Password=T0mL3ung1!" Name="Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User Id=leungt@stockton15;Password=T0mL3ung1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TheHub.Models.PhotosDbContext, TheHub" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TheHub.Models.ProfileDbContext" Order="8" Enabled="False">
          <Destination Path="Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User ID=leungt@stockton15;Password=T0mL3ung1!" Name="Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User Id=leungt@stockton15;Password=T0mL3ung1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TheHub.Models.ProfileDbContext, TheHub" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User Id=leungt@stockton15;Password=T0mL3ung1!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TheHub.Models.DemographicsDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User Id=leungt@stockton15;Password=T0mL3ung1!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TheHub.Models.FriendDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User Id=leungt@stockton15;Password=T0mL3ung1!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TheHub.Models.InterestDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User Id=leungt@stockton15;Password=T0mL3ung1!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TheHub.Models.MemberDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User Id=leungt@stockton15;Password=T0mL3ung1!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TheHub.Models.MessageDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User Id=leungt@stockton15;Password=T0mL3ung1!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TheHub.Models.PhotosDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User Id=leungt@stockton15;Password=T0mL3ung1!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TheHub.Models.ProfileDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stockton15.database.windows.net,1433;Initial Catalog=SuperHub_db;User Id=leungt@stockton15;Password=T0mL3ung1!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="TheHub.Models.DemographicsDbContext" />
    <_ConnectionStringsToInsert Include="TheHub.Models.FriendDbContext" />
    <_ConnectionStringsToInsert Include="TheHub.Models.InterestDbContext" />
    <_ConnectionStringsToInsert Include="TheHub.Models.MemberDbContext" />
    <_ConnectionStringsToInsert Include="TheHub.Models.MessageDbContext" />
    <_ConnectionStringsToInsert Include="TheHub.Models.PhotosDbContext" />
    <_ConnectionStringsToInsert Include="TheHub.Models.ProfileDbContext" />
  </ItemGroup>
</Project>